# Android
*.iml
.gradle
/subly_android/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/subly_android/build
/subly_android/captures
.externalNativeBuild
.cxx
local.properties

google-services.json

# Xcode / iOS
*.xcuserstate
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
subly_ios/**/.build/
subly_ios/**/Pods/

# Claude
/.claude/worktrees/
