rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	// Allow only authenticated content owners access
  	match /subscriptions/{userId}/{document} {
      allow read, write: if request.auth != null && request.auth.uid == userId
    }
    // match /{document=**} {
    //   allow read, write: if false;
    // }
  }
}